
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="login-form login-form-left">
	<div class="agile-row">
		<h3>Kayıt Formu</h3>
		<div class="login-agileits-top">
			<form method="post" >
				<input type="text" class="name" name="Name" Placeholder="Adınız" required="" />
				<input type="text" class="name" name="Surname" Placeholder="Soyadınız" required="" />
				<input type="text" class="name" name="Mail" Placeholder="Email" required="" />
				<input type="text" class="name" name="Phone" Placeholder="Telefon Numarası" required="" />
				<input type="password" class="name" name="Password" Placeholder="Şifre" required="" />
				@* <input type="password" class="name" name="ConfirmPassword" Placeholder="Şifre Yeniden" required="" /> *@
				@* <div class="login-check">
					<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum &amp; Kabul ediyorum</a></label>
				</div> *@
				<input type="submit" value="Kayıt Ol">
			</form>
		</div>
		

	</div>
</div>
